@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background: red;
}

#calculator {
  width: 170px;
  max-width: 170px;
  margin: 0 auto;
  border: 1px blue solid;
}

input {
  border-radius: 10px;
  text-align: center;
  border: 1px black solid;
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  width: 164px;
}

button {
  margin: 0 auto;
  margin-top: 2px;
  width: 56px;
  font-family: Montserrat, sans-serif;
  border: 0.02px solid black;
}